:root {
            --primary: #FFD700;
            --secondary: #f8f9fa;
            --dark: #343a40;
            --light: #f8f9fa;
            --success: #28a745;
            --danger: #dc3545;
            --warning: #ffc107;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #f5f5f5;
            color: #333;
            line-height: 1.6;
        }

        header {
            background-color: var(--primary);
            color: white;
            padding: 1rem 1.5rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .logo {
            display: flex;
            gap: 1rem;
            width: 100%;
            align-items: center;
        }

        .navbar {
            text-align: right;
            display: flex;
            align-items: center;
            gap: 6px;
            width: 100%;
        }

        .navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        text-align: right;
        margin-right: 10px; 

        }
        
        .logo a:hover {
        text-decoration: underline;
        color: #FFD700;
        background-color: #666;
        }

        
        
        .logo img {
            width: 40px;
            height: 40px;
        }

        .Mensaje {
            padding: auto;
            text-align: center;
            font-size: 30px;
            margin-top: 300px;
            
        }